@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";
@import "../node_modules/flyonui/variants.css";
@import "../node_modules/flyonui/src/vendor/fullcalendar.css";
@source "../node_modules/flyonui/flyonui.js";

@plugin "flyonui" {
  themes: corporate --default;
}

@plugin "flyonui/theme" {
  name: "corporate";
  default: true;
  --color-base-100: oklch(1 0.02 268.72);
  --color-base-200: oklch(0.93 0.02 268.72);
  --color-base-300: oklch(0.7 0.02 268.72);
  --color-base-content: oklch(0.32 0.12 258.56);
  --color-primary: oklch(0.32 0.12 258.56);
  --color-primary-content: oklch(94.64% 0.0327 307.17);
  --color-secondary: oklch(0.72 0.15 241.57);
  --color-secondary-content: oklch(0.32 0.12 258.56);
  --color-accent: oklch(71.37% 0.1434 254.62);
  --color-accent-content: oklch(89.94% 0.0589 343.23);
  --color-neutral: oklch(0.32 0.12 258.56);
  --color-neutral-content: oklch(99.54% 0.0028 308.43);
  --color-info: oklch(79.71% 0.1339 211.53);
  --color-info-content: oklch(95.63% 0.0443 203.39);
  --color-success: oklch(77.29% 0.1535 163.22);
  --color-success-content: oklch(95.05% 0.0507 163.05);
  --color-warning: oklch(75.76% 0.159 55.93);
  --color-warning-content: oklch(95.42% 0.03715446392304164 75.16435946755645);
  --color-error: oklch(0.65 0.23 33.04);
  --color-error-content: oklch(97.58% 0.0151 61.35);

  /* font sizes */
  --text-xs: 0.7rem;
  --text-sm: 0.8rem;
  --text-base: 0.95rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  /* Border Radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Base Sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Border Size */
  --border: 1px;

  /* Effects */
  --depth: 1;
  --noise: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  @apply text-[15.5px] sm:text-[16px];
}

* {
  font-family: var(--font-noto);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
  }
}

.btn {
  @apply rounded-full px-5 shadow-none;
}

.btn-circle {
  @apply px-2;
}

.btn-square {
  @apply rounded-sm px-2;
}

/* .btn-rounded {
  @apply rounded-full px-5;
} */

.btn.btn-soft {
  @apply hover:bg-primary hover:text-primary-content;
}

.btn-secondary.btn-soft {
  @apply bg-secondary/50 text-base-content hover:bg-secondary/70 hover:text-base-content;
}

.btn-lg {
  @apply text-base;
}

.input {
  @apply rounded-xl text-base;
}

.textarea {
  @apply rounded-xl;
}

.select {
  @apply rounded-2xl;
}

.select-lg {
  @apply text-base;
}

.overlay-backdrop {
  @apply !z-[121] backdrop-blur-xs;
}

.modal {
  @apply !z-[122];
}
